:root {
  --primary-color: black;
  --bg-color: #f5f5f5;
}

[data-theme="dark"] {
  --primary-color: #f5f5f5;
  --bg-color: #424242;
}

html {
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  margin: 0;
  font-size: 26px;
  color: #ffffff;
  height: 100vh;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

h1, h2 {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 5px;
  color: var(--primary-color);
}

h4, li, p {
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
}

h2, h3 {
  margin: 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding-bottom: 25vh;
}

.parallax-wrapper::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url(../assets/TechHub.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}

.regular-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  padding-bottom: 85vh;
  background-image: url(../assets/news.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  position: relative;
}

.parallax-wrapper2 {
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  padding-bottom: 85vh;
}

.parallax-wrapper2::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url(../assets/events.webp);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}

.regular-wrapper2 {
  width: 100vw;
  height: 100vh;
  padding-top: 5vh;
  padding-bottom: 85vh;
  background-image: url(../assets/web_tutorials.webp);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  position: relative;
}

/****Main Page Styling****/
.title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  margin: auto;
  padding: 0 30px;
  color: black;
  background-color: #f5f5f5;
  opacity: 0.9;
}

.scroll {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  margin: auto;
  padding: 0 30px;
  color: black;
  background-color: #f5f5f5;
  opacity: 0.9;
}

.news-link, .events-link, .tutorials-link {
  text-decoration: none;
  margin: 0;
  color: black;
}

.news-img, .events-img, .tutorials-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.article-left {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  grid-row: 2;
}

.article-right {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/8;
  -ms-grid-row: 2;
  grid-row: 2;
}

.article-left, .article-right {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 30% 0px;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  position: absolute;
  width: 80%;
}

.article-left:hover, .article-right:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.news-link, .events-link, .tutorials-link {
  text-decoration: none;
}

/****iframe Article Styling****/
.section-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  padding: 30px 50px;
  color: black;
  background-color: #f5f5f5;
  opacity: 0.9;
}

#iframe {
  display: none;
  width: 40%;
  height: 80%;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 15vh;
  border: 0;
  z-index: 2;
}

#iframe1 {
  display: none;
  width: 40%;
  height: 80%;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 15vh;
  border: 0;
  z-index: 2;
}

#iframe2 {
  display: none;
  width: 40%;
  height: 80%;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 15vh;
  border: 0;
  z-index: 2;
}

#iframe3 {
  display: none;
  width: 40%;
  height: 80%;
  position: absolute;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 15vh;
  border: 0;
  z-index: 2;
}

.article {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  background-color: var(--bg-color);
  opacity: 0.95;
  border-radius: 10px;
  margin: 0px 0px;
  padding: 10px 50px;
}

.article-img {
  width: 100%;
  border-radius: 5px 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

/****Xbox Article Styling****/
.ken {
  float: left;
  height: 90vh;
  margin: 0 0 0 -100px;
}

.ryu {
  float: right;
  height: 90vh;
  margin: 0 -50px 0 0;
}

/***************************
Could not get this feature to work

.close {
    height: 25px;
    width: 25px;
    text-align: center;
}
button {
    display: none;
    background-color: #ffffff;
    border-radius: 50%;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
    position: absolute;
    top: 10vh;
    left: 70vw;
    padding: 0;
    height: 30px;
    width: 30px;
}
***************************/
/****Dark-Mode Styling****/
.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1.5rem;
  color: black;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/****Footer****/
footer {
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.footer-text {
  padding-left: 10px;
  color: black;
}
/*# sourceMappingURL=styles.css.map */