html, body {
    max-width: 100%;
    height: 100vh;
    margin: 0;
}

body {
    background-image: url(../assets/background1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

/**** Mobile Styles ****/

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

header {
    margin-top: 10px;
}

.hero {
    grid-column: 1/9;
    text-align: center;
    border-radius: 5px;
    justify-self: center;
    opacity: 0.8;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    width: 80%;
}

a, .home-icon {
    grid-row: 2;
    grid-column: 7/9;
    justify-self: center;
}

.home-icon {
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    opacity: 0.9;
}

.title {
    grid-row: 2;
    grid-column: 3/7;
    justify-self: center;
    text-align: center;
    margin: 0px;
}

button {
    grid-row: 2;
    grid-column: 1/3;
    height: 42px;
    width: 42px;
    background-color: #f5f5f5;
    border-radius: 50%;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    border: none;
    opacity: 0.9;
    justify-self: center;
    position: relative;
}

.back {
    height: 26px;
    width: 26px;
}

button .back {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

section { 
    margin-top: 10px;
}

h3 {
    margin: 5px 0;
}

/****Home Page Stlying****/

.news-link, .events-link, .tutorials-link {
    text-decoration: none;
}

a {
    color: inherit;
}

.home-icon:hover, button:hover, .news:hover, .events:hover, 
.tutorials:hover, .article-left:hover, .article-right:hover {
    transform: scale(1.1);
}

.news-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.news {
    grid-column: 3/7;
    justify-self: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    transition: transform .2s;
}

.events-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.events {
    grid-row: 2;
    grid-column: 3/7;
    justify-self: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    transition: transform .2s;
}

.tutorials-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.tutorials {
    grid-row: 3;
    grid-column: 3/7;
    justify-self: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    transition: transform .2s;
}

.article-left {
    grid-column: 3/7;
    justify-self: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    transition: transform .2s;
}

.article-right {
    grid-row: 2;
    grid-column: 3/7;
    justify-self: center;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin: 20px 0px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
    transition: transform .2s;
}

footer {
    margin-top: 20px;
    background-color: #f5f5f5;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.footer-text {
    padding-left: 10px;
}

/****Article Styling****/

.article {
    grid-column: 2/8;
    background-color: #f5f5f5;
    opacity: 0.95;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 10px;
}

.article-img {
    width: 100%;
    border-radius: 5px 5px;
}

/* small tablet styles */
@media screen and (min-width: 620px){

    .news{
        grid-column: 1/5;
        grid-row: 1;
        width: 60%;
    }
    .events {
        grid-column: 5/9;
        grid-row: 1;
        width: 60%;
    }
    .tutorials {
        width: 60%;
    }
    .article-left {
        grid-column: 2/5;
        grid-row: 1;
        width: 70%;
    }
    .article-right {
        grid-column: 5/8;
        grid-row: 1;
        width: 70%;
    }

}

/* desktop styles */
@media screen and (min-width: 1200px){

    .grid {
        grid-template-columns: repeat(9, 1fr);
    }
    html {
        max-height: 100vh;
    }

    .hero {
        grid-column: 2/9;
        max-height: 49vh;
        max-width: 47vw;
    }
    .title {
        grid-column: 4/7;
    }

    .news{
        grid-column: 1/4;
        grid-row: 1;
        width: 60%;
        justify-self: right;
    }
    .events {
        grid-column: 4/7;
        grid-row: 1;
        width: 60%;
    }
    .tutorials {
        grid-column: 7/11;
        grid-row: 1;
        width: 60%;
        justify-self: left;
    }
    .article-left {
        grid-column: 2/5;
        grid-row: 1;
        width: 80%;
    }
    .article-right {
        grid-column: 6/9;
        grid-row: 1;
        width: 80%;
    }
    button {
        grid-column: 3/4;
    }
    a, .home-icon {
        grid-column: 7/8;
    }
    .article {
        grid-column: 3/8;
        width: 80%;
        justify-self: center;
    }


}