html, body {
  max-width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  background-image: url(../assets/background1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

/**** Mobile Styles ****/
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  margin-top: 10px;
}

.hero {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  text-align: center;
  border-radius: 5px;
  -ms-grid-column-align: center;
      justify-self: center;
  opacity: 0.8;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  width: 80%;
}

a, .home-icon {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home-icon {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

.title {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  margin: 0px;
}

button {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  height: 42px;
  width: 42px;
  background-color: #f5f5f5;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  border: none;
  opacity: 0.9;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
}

.back {
  height: 26px;
  width: 26px;
}

button .back {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

section {
  margin-top: 10px;
}

h3 {
  margin: 5px 0;
}

/****Home Page Stlying****/
.news-link, .events-link, .tutorials-link {
  text-decoration: none;
}

a {
  color: inherit;
}

.home-icon:hover, button:hover, .news:hover, .events:hover,
.tutorials:hover, .article-left:hover, .article-right:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.news {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.events-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.events {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.tutorials-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.tutorials {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.article-left {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.article-right {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 20px 0px;
  -webkit-box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

footer {
  margin-top: 20px;
  background-color: #f5f5f5;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.footer-text {
  padding-left: 10px;
}

/****Article Styling****/
.article {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  background-color: #f5f5f5;
  opacity: 0.95;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;
}

.article-img {
  width: 100%;
  border-radius: 5px 5px;
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  .news {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 60%;
  }
  .events {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 60%;
  }
  .tutorials {
    width: 60%;
  }
  .article-left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 70%;
  }
  .article-right {
    -ms-grid-column: 5;
    -ms-grid-column-span: 3;
    grid-column: 5/8;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 70%;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  .grid {
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
  }
  html {
    max-height: 100vh;
  }
  .hero {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
    max-height: 49vh;
    max-width: 47vw;
  }
  .title {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .news {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 60%;
    -ms-grid-column-align: right;
        justify-self: right;
  }
  .events {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 60%;
  }
  .tutorials {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7/11;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 60%;
    -ms-grid-column-align: left;
        justify-self: left;
  }
  .article-left {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 80%;
  }
  .article-right {
    -ms-grid-column: 6;
    -ms-grid-column-span: 3;
    grid-column: 6/9;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 80%;
  }
  button {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  a, .home-icon {
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-column: 7/8;
  }
  .article {
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-column: 3/8;
    width: 80%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}
/*# sourceMappingURL=styles.css.map */